.ac_button_usertag_full {
	background-color: green; /*#008CBA; /* #4CAF50; /* Green */
	border: 2px solid green; /* #008CBA; /* #4CAF50; /* Green */
	border-radius: 3px; /* angle */
    color: white;
    padding: 2px 4px;
    display: inline-block;
	text-align: center;
	font-size: 12px;
    text-decoration: none;
	}
.ac_button_usertag_empty {
	background-color: white;
    border: 2px solid green; /*#008CBA; /* #4CAF50; /* Green */
	border-radius: 3px; /* angle */
    color: green; /*#008CBA; /* black */
    padding: 2px 4px;
    display: inline-block;
	text-align: center;
	font-size: 12px;
    text-decoration: none;
	}
